DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tienda_gestion?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change_me_super_secret"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="tu_usuario"
SMTP_PASS="tu_password"
SMTP_FROM="ventas@tudominio.com"
